<footer class="footer">
  <small>
Пет проект 2010 року. Частково відновлена і доповнена версія.
  </small>
    <div align="center">
        &copy; Сергій Дудник 2010, <%= Time.now.year %>
    </div>
</footer>