<footer class="footer">
  <small>
Пет проект по контенту 2010 року. Частково відновлена і доповнена версія.
  </small>
    <div class="container">
        &nbsp;&nbsp;&nbsp; &copy; Сергій Дудник 2010, <%= Time.now.year %>
    </div>
</footer>