
<ul>
    <li><%= link_to 'Головна', root_path %></li>
    <li><%= link_to 'Шановні батьки', dear_parents_path %></li>
    <li><%= link_to 'Будні і свята', breeding_process_path %></li>
    <li><%= link_to 'Контакти', contact_path %></li>

</ul>
<!--
<div id="side">
         <a href="upbringing">Наші гості</a><br />
         <a href="http://fairy-valley.vn.ua:3001">Фотогалерея</a><br />
</div> -->