<div align="center">
<a href="../dear_parents">Шановні батьки</a>
&nbsp;&nbsp;&nbsp;
<a href="../breeding_process">Будні і свята</a>&nbsp;&nbsp;&nbsp;
<a href="../upbringing">Гості закладу</a>&nbsp;&nbsp;&nbsp;
<a href="../history">Із історії</a>&nbsp;&nbsp;&nbsp;
<a href="../contact">Контакти</a>&nbsp;&nbsp;&nbsp;
<a href="http://fairy-valley.vn.ua:3001">Фотогалерея</a><br />
<%= image_tag("title_big.jpg") %>
</div>

&copy; Сергій Дудник 2010, <%= Time.now.year %>
